body {
  background-color: #f0f3f9;
}

.container {
  background-color: #d5e8d4;
  border-radius: 10px;
  padding: 20px;
}

.btn-primary {
  background-color: #7c529e;
  border-color: #7c529e;
}

.btn-primary:hover {
  background-color: #583770;
  border-color: #583770;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.img-fluid:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
