<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <title>Лендинг</title>
</head>
<body>
    <form method="post">
        <input type="text" name="name" placeholder="Ваше имя">
        <input type="text" name="phone" placeholder="Номер телефона">
        <input type="text" name="telegram" placeholder="Telegram">
        <input type="text" name="whatsapp" placeholder="WhatsApp">
        <input type="submit" value="Оставить заявку">
    </form>
</body>
</html>