<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phone Numbers and Databases</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1 class="text-center">Закажите базы данных телефонных номеров по всей России и СНГ</h1>
      <p class="lead text-center">Мы предлагаем качественный сервис по продаже баз данных телефонных номеров, а также рассылку ваших коммерческих предложений по WhatsApp.</p>
      <img src="{{ url_for('static', filename='media/images/header-image.jpg') }}" class="img-fluid rounded mb-4" alt="Phone Numbers and Databases">

    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form action="submit_form.php" method="POST">
        <div class="form-group">
          <label for="name">Как к вам можно обращаться:</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="phone">Номер телефона:</label>
          <input type="tel" class="form-control" id="phone" name="phone" required>
        </div>
        <div class="form-group">
          <label for="telegram">Telegram:</label>
          <input type="text" class="form-control" id="telegram" name="telegram">
        </div>
        <div class="form-group">
          <label for="whatsapp">WhatsApp:</label>
          <input type="tel" class="form-control" id="whatsapp" name="whatsapp" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Оставить заявку</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>
